.pattern2 {
    background-image: repeating-linear-gradient(-26deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 2px, transparent 3px, transparent 7px);
    background-size: 6px 8px;
    background-color: #e0d1b8;
    
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

.customSvg{
    font-size: 6rem;
    font-weight: bold;
    width: 450px;
    height: 150px;
    fill: rgba(255, 255, 255, 0);
    text-align: center;
    margin: 2px auto;
}

.svgText {
    align-self: center;
    fill: rgba(255, 255, 255, 0);
    stroke: #358546d8;
    stroke-width: 3px;
    stroke-linejoin: round;
    paint-order: stroke;
  }